<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"></meta>

	<title>CSE 312 Group Project</title>

	<link rel="stylesheet" type="text/css" href="static/css/lynx_stylesheet.css">
	<link rel="stylesheet" type="text/css" href="static/css/lynx_home.css">
	<!-- <script src="static/js/date_and_time.js" defer></script> -->
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">

</head>
<body>

	<header>

		<nav>
			<ul>
				<li id="mainTitle"><h1><i>CSE 312 Project 1</i></h1></li>
				<div id="usernameDisplay">
					Logged in as: &nbsp;<span id="usernameText">{{ username }}</span>
				</div>
			</ul>
		</nav>

	</header>

<h1 id="BodyTitle">PostPlace - A Place for Posts</h1>
<p id="IntroBodyText">Welcome to PostPlace! A site dedicated to hosting your thoughts, ideas, and ramblings to share with the whole world! To get started, register or login with your credentials to create a post. You cannot create a post without an account. Have fun!</p>

<hr id="IntroSeparator">

<div style="width: 100%; overflow: hidden;">

		<div class="auth-section" style="width: 400px; float: right;">

		<button type="button" class="collapsible"><strong>Register ⇂</strong></button>
			<div class="registerNew">
				<p>New to the site? Please register before creating a post!</p>
				<form action="/register/" method="POST">
					<input id="registerUsername" type="text" name="username" placeholder="Username" required><br>
					<input type="password" id="registerPassword" name="password" placeholder="Password" required><br><br>
					<input id="registerButton" type="submit" value="Register">
				</form>
			</div>

		<button type="button" class="collapsible"><strong>Login ⇂</strong></button>
			<div class="loginNew">
				<p>Returning user? Welcome back! Please enter your username and password.</p>
				<form action="/login/" method="POST">
					<input type="text" id="loginUsername" name="username" placeholder="Username" required><br>
					<input type="password" id="loginPassword" name="password" placeholder="Password" required><br><br>
					<input id="loginButton" type="submit" value="Login">
				</form>
			</div>



			<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;

			for (i = 0; i < coll.length; i++) {
		  		coll[i].addEventListener("click", function() {
		    		this.classList.toggle("active");
		    		var content = this.nextElementSibling;
		    		if (content.style.display === "block") {
		      			content.style.display = "none";
		    		} else {
		      			content.style.display = "block";
		    		}
				  });
			}
			</script>

		</div>




	<div class="post section" style="margin-right: 450px;">
		<div class="make-post">
				<h2>Create a post...</h2>
				<div id="createPostSubtitle">Creating post as: &nbsp;<span id="createUsernameText">{{ username }}</span></div>
				<form id="make-post" onsubmit="handlePostSubmit(event)" action="/make-post/" method="POST" enctype="multipart/form-data">
					<label><br/>
						<input type="text" name="title" placeholder="Post Title"><br/>
					</label>

	
					<textarea id="descriptionBox" type="text" name="description" placeholder="Write the body of your post here..."></textarea><br/>


					<label>Upload Image:<br/>
						<input type="file" name="uploaded_image" accept="image/*"><br/>
					</label>

					<label>Starting Price:<br/>
						<input type="number" name="starting_price" min="0" step="0.01"><br/>
					</label>

					<label>Duration (in minutes):<br/>
						<input type="number" name="duration" min="1" step="1"><br/>
					</label>

					<input type="submit" value="Submit">
				</form>
		</div>
		<div class="posts">
			<div id="all-posts"></div>
		</div>
	</div>


</div>

	<!-- <div class="hero-section">
		<div class="hero-text"><h1>Kinkerton Nissan, Hyundai, Chrysler, Lincoln, Kia, RAM</h1></div>
		<div class="hero-subtitle"><h3><i>1618 Pacific Fister Pkwy, Buffalo, NY</i></h3></div>
		<div id="currentTime"><span>date</span><span>time</span></div>
	</div>

	<br>

	<table class="home">
		<tbody>
		<tr>
			<td id="useless"><h3>Welcome to Kinkerton Used Cars!</h3>Since 2008, Don Foretti and the Kinkerton team have been waging war against high prices! Do you have good credit? Bad credit? No credit? Roll credits! We finance anyone who can fog a mirror!
				<br><br>
			We will sell you a car TODAY, no questions asked! We know that the car-buying process can be complicated and stressful - so here at Kinkerton, we put the FUN in finance! Simply visit our beautiful lot in North Buffalo (please page in at the gate), pick a car that catches your eye, scribble your John Hancock a couple times, and you'll be picking up the kids from soccer practice within the hour!
			<br><br><hr><br>
			<b>We WAGE WAR against high prices!</b>
			<ul>
				<li>No money down!</li>
				<li>Credit check sweepstakes!</li>
				<li>Competitive financing rates!</li>
				<li>A used car hand-picked for YOU!</li>
				<li>In and out the door - the record is 14 minutes!</li>
				<li>HUGE selection!</li>
				<li>Friendly staff!</li>
			</ul>
			</td>
			<td>
			<img id="torii-home" src="static/images/bigdon.jpg">
			</td>
		</tr>
		<tr>
			<td id="useless"></td>
			<td id="subtitle">"Big" Don Foretti opening his second dealership, 1988</td>
		</tr>
		</tbody>
	</table>

	<br><hr class="line">

	<article class="audiophile">
		<p>Check out this week's specials:</p>
	</article>
	<br>

	<table id="mic">
		<thead>
		<tr>
			<th>
				2010 Nissan Altima<br>$8,575
			</th>
			<th>
				2012 Lincoln MKS<br>$12,486
			</th>
			<th>
				2010 Nissan Rogue SL AWD<br>$9,555
			</th>
			<th>
				2009 Kia Sportage AWD<br>$8,190
			</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="static/images/ohno.jpg"></a></td>
				<td><img src="static/images/lincoln.jpg"></a></td>
				<td><img src="static/images/nissan.jpg"></a></td>
				<td><img src="static/images/kia.jpg"></a></td>
			</tr>
		</tbody>
	</table>

	<br><hr class="line">
	<article class="thankyou">
		<p>Click <i>"CSE 312 Project 1"</i> for an easter egg!</p>
	</article>

<footer>
	<aside><i>Created by Mason Gaugler - 2021</i></aside>
</footer> -->

<div id="modal" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h3>Notification</h3>
            <button onclick="closeModal()" class="modal-close-btn">×</button>
        </div>
        <div class="modal-body">
            <div id="modalMessage"></div>
        </div>
    </div>
</div>

<script src="static/js/animations.js"></script>
<script src="static/js/modal.js"></script>
<script src="static/js/auth.js"></script>
<script src="static/js/post.js"></script>
</body>
</html>