<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"></meta>

	<title>CSE 312 Group Project</title>

	<link rel="stylesheet" type="text/css" href="static/css/lynx_stylesheet.css">
	<link rel="stylesheet" type="text/css" href="static/css/lynx_home.css">
	<!-- <script src="static/js/date_and_time.js" defer></script> -->
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
	<script src="static/js/animations.js"></script>

</head>
<body>

	<header>

		<nav>
			<ul>
				<li id="mainTitle"><h1><i>CSE 312 Project 1</i></h1></li>
				<div id="usernameDisplay">
					Logged in as: &nbsp;<span id="usernameText">{{ username }} - Email: Not Verified <a href="#" id="verificationLink">Verify Email</a> </span>
				</div>
			</ul>
		</nav>

	</header>

<h1 id="BodyTitle">PostPlace - A Place for Posts</h1>
<p id="IntroBodyText">Welcome to PostPlace! A site dedicated to hosting your thoughts, ideas, and ramblings to share with the whole world! To get started, register or login with your credentials to create a post. You cannot create a post without an account. Have fun!</p>

<hr id="IntroSeparator">

<div style="width: 100%; overflow: hidden;">

		<div class="auth-section" style="width: 400px; float: right;">

		<button type="button" class="collapsible"><strong>Register ⇂</strong></button>
			<div class="registerNew">
				<p>New to the site? Please register before creating a post!</p>
				<form action="/register/" method="POST">
					<input type="email" id="registerEmail" name="email" placeholder="Email" required><br><br>
					<input id="registerUsername" type="text" name="username" placeholder="Username" required><br>
					<input type="password" id="registerPassword" name="password" placeholder="Password" required><br><br>
					<input id="registerButton" type="submit" value="Register">
				</form>
			</div>

		<button type="button" class="collapsible"><strong>Login ⇂</strong></button>
			<div class="loginNew">
				<p>Returning user? Welcome back! Please enter your username and password.</p>
				<form action="/login/" method="POST">
					<input type="text" id="loginUsername" name="username" placeholder="Username" required><br>
					<input type="password" id="loginPassword" name="password" placeholder="Password" required><br><br>
					<input id="loginButton" type="submit" value="Login">
				</form>
			</div>
		</div>




	<div class="post section" style="margin-right: 450px;">
		<div class="make-post">
				<h2>Create a post...</h2>
				<div id="createPostSubtitle">Creating post as: &nbsp;<span id="createUsernameText">{{ username }}</span></div>
				<form id="make-post" onsubmit="handlePostSubmit(event)" action="/make-post/" method="POST" enctype="multipart/form-data">
					<label><br/>
						<input type="text" name="title" placeholder="Post Title"><br/>
					</label>

	
					<textarea id="descriptionBox" type="text" name="description" placeholder="Write the body of your post here..."></textarea><br/>


					<label>Upload Image:<br/>
						<input type="file" name="uploaded_image" accept="image/*"><br/>
					</label>

					<label>Starting Price:<br/>
						<input type="number" name="starting_price" min="0" step="0.01"><br/>
					</label>

					<label>Duration (in minutes):<br/>
						<input type="number" name="duration" min="1" step="1"><br/>
					</label>

					<input type="submit" value="Submit">
				</form>
		</div>
		<div class="posts">
			<div class="dropdown">
				<button class="dropbtn" onclick="toggleDropdown('all-posts')">All Auctions</button>
				<div class="dropdown-content" id="all-posts"></div>
			</div>
		
			<div class="dropdown">
				<button class="dropbtn" onclick="toggleDropdown('auctions-won')">Auctions Won</button>
				<div class="dropdown-content" id="auctions-won"></div>
			</div>
		
			<div class="dropdown">
				<button class="dropbtn" onclick="toggleDropdown('auctions-created')">Auctions Created</button>
				<div class="dropdown-content" id="auctions-created"></div>
			</div>
		</div>
	</div>


</div>

<div id="modal" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h3>Notification</h3>
            <button onclick="closeModal()" class="modal-close-btn">×</button>
        </div>
        <div class="modal-body">
            <div id="modalMessage"></div>
        </div>
    </div>
</div>

<script src="static/js/modal.js"></script>
<script src="static/js/auth.js"></script>
<script src="static/js/post.js"></script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
				content.style.display = "none";
		} else {
				content.style.display = "block";
		}
		});
}
</script>
</body>
</html>